.am-container{
    position: relative;
}

.am-btn{
    height: 35px;
    width: 35px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #232326;
    border: none;
}

.am-btn:hover{
    background-color: var(--hover);
}

.am-btn-img{
    height: 23px;
}

.am-menu-container{
    position: absolute;
    top: -60px;
    height: auto;
    width: 150px;
    border: 1px solid var(--small);
    border-radius: 5px;
    background-color: var(--black);
    animation: myAnimation 0.2s ease;
    z-index: 3;
}

input[type="file"] {
  display: none;
}

.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  font-size: 0.8rem;
  width: 100%;
  box-sizing: border-box;
  color: var(--fontColor);
}

@keyframes myAnimation{
    0%{
        scale: 0;
    }
    100%{
        scale: 1;
    }
}