.chat-info-container{
    height: 550px;
    max-height: 550px;
    width: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--black);
    z-index: 5;
    padding: 20px 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    color: var(--fontColor);
    border: 1px solid var(--small);
    overflow-y: auto;
}

.chat-info-heading{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
}

.chat-info-heading .chat-img-container{
    display: grid;
    place-items: center;
    position: relative;
    height: 65px;
    width: 65px;
    border-radius: 70px;
}

.chat-img{
    height: 100%;
    width: 100%;
    border-radius: 70px;
}

.chatname{
    font-size: 1.5rem;
}

.media-toggle-btn{
    width: 100%;
    height: 35px;
    background: none;
    color: var(--fontColor);
    display: flex;
    justify-content: space-between;
    padding: 4px 8px;
    margin: 0;
    align-items: center;
    font-size: 14px;
    border: 1px solid var(--green);
    border-radius: 4px;
    font-family: 'GB';
    cursor: pointer;
}

.chat-info-media-container{
    display: flex;
    flex-wrap: wrap;
    color: var(--fontColor);
    width: 100%;
    gap: 2px;
    align-items: center;
}

.chat-info-media{
    height: 60px;
    width: 60px;
    display: grid;
    place-items: center;
}


.chat-info-media-img,
.chat-info-media-video{
  width: 100%;
  object-fit: cover;
  display: block;
  max-height: 60px;
  max-height: 60px;
}

.chat-info-media-audio{
  width: 100%;
}

.participants-heading-container{
    display: flex;
    justify-content: space-between;
}

.participants-heading{
    margin: 0;
}

.add-participant-btn{
    border-radius: 1.1rem;
    height: 35px;
    padding: 2px;
    transition: .1s ease;
    width: 35px;
    background: transparent;
    border: none;
}

.add-participant-btn:hover{
    background-color: var(--hover);
}

.add-participant-btn img{
    height: 25px;
    width: 25px;
}

.participant-names-container{
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 0 5px;
    flex: 1;
    overflow-y: auto;
    scrollbar-color: var(--small) var(--black); /* thumb, track */
    scrollbar-width: thin;
}

.chat-info-participant-container{
    display: flex;
    justify-content: space-between;
    border-radius: 4px;
    transition: 0.3s all ease;
    padding: 8px 5px;
}

.chat-info-participant-container:hover{
    background-color: var(--hover);
}

.chat-info-participant-dp-container{
    display: flex;
    align-items: center;
    gap: 10px;
}

.participant-img-container{
    width: 35px;
    height: 35px;
    border-radius: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.participant-img-container img{
    height: 35px;
}

.participant-remove-btn{
    height: 1.7rem;
    border-radius: 5px;
    font-size: 0.9rem;
    font-family: 'GR';
    color: var(--fontColor);
    background-color: var(--black);
    border: 1px solid var(--green);
    transition: 0.1s ease;
}

.participant-remove-btn:hover{
    background-color: var(--green);
    color: var(--black);
    border: none;
}

p{
    margin: 0;
}

.admin{
    font-size: 0.9rem;
    color: var(--small);
}

.participant-name{
    margin: 0;
}

.leave-chat-btn{
    display: flex;
    gap: 5px;
    align-items: center;
    width: fit-content;
    padding: 5px 9px;
    transition: 0.1s ease;
    background: none;
    border: none;
    border-radius: 5px;
}

.leave-chat-btn:hover{
    background-color: var(--hover);
}

.leave-chat-btn img{
    height: 20px;
}

.leave-chat-btn p{
    color: var(--fontColor);
    font-size: 1rem;
    font-family: 'GM';
}

.delete-chat-btn{
    width: fit-content;
    font-size: 1rem;
    height: 30px;
    color: var(--black);
    background-color: var(--green);
    border: none;
    border-radius: 15px;
    font-family: 'GR';
    padding: 4px;
    transition: 0.3s all ease;
}

.delete-chat-btn:hover{
    border-radius: 5px;
}

.chat-info-background{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.308);
    z-index: 4;
    transition: 200ms;
}

.hidden{
    display: none;
}
