.cn-container{
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    width: 400px;
    min-width: 400px;
    height: 100vh;
    border: 1px solid var(--borderColor);
    border-left: none;
    border-top: none;
    border-bottom: none;
    background-color: var(--black);
    box-sizing: border-box;
}

.cn-heading-container{
    height: 50px;
    width: 100%;
    background-color: var(--hover);
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid var(--borderColor);
}

.cn-heading{
    font-family: 'GB';
    color: var(--fontColor);
}

.cn-body-container{
    flex: 1;
    padding: 20px 10px 0 10px;
    display: flex;
    flex-direction: column;
    gap: 14px;
    overflow: hidden;
}

.cn-searchbar-container{
    display: flex;
    height: 40px;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: var(--hover);
    padding: 5px 30px;
    box-sizing: border-box;
    gap: 10px;
    border-radius: 30px;
    overflow: hidden;
}

.cn-search-icon{
    height: 20px;
}

.form{
    width: 100%;
}

.cn-search-input{
    height: 100%;
    width: 100%;
    background-color: inherit;
    border: none;
    flex: 1;
    color: var(--fontColor);
    font-size: 1rem;
    font-family: 'GM';
}

.cn-search-input:focus{
    outline: none;
}

.cn-filter-container{
    display: flex;
    gap: 6px;
    overflow-x: auto;
    scrollbar-width: thin;
    scrollbar-color: var(--small) var(--black);
}

.cn-filter-btn{
    font-family: 'GM';
    background-color: #000;
    border: 1px solid var(--borderColor);
    color: var(--fontColor);
    height: 30px;
    border-radius: 30px;
    padding: 0 7px;
    min-width: fit-content;
    position: relative;
}

.active-filter-btn{
    color: #000;
    background-color: var(--fontColor);
}

.cn-chats-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
    overflow-y: auto;
    scrollbar-color: var(--small) var(--black); /* thumb, track */
    scrollbar-width: thin;
}

.search-heading{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    padding: 10px 10px;
    box-sizing: border-box;
}

.search-heading p {
    color: var(--fontColor);
    font-size: 1rem;
}

.search-heading img{
    height: 20px;
    cursor: pointer;
}

@media (max-width: 900px){
    .cn-container{
        width: 280px;
        min-width: 280px;
    }

    .cn-heading-container{
        height: 35px;
    }

    .cn-heading{
        font-size: 1rem;
    }

    .cn-body-container{
        padding: 10px 5px 0 5px;
        gap: 15px;
    }

    .cn-searchbar-container{
        height: 30px;
        padding: 5px 20px;
    }

    .cn-search-icon{
        height: 15px;
    }

    .cn-search-input{
        font-size: 0.8rem;
    }

    .cn-filter-btn{
        height: 25px;
    }
}