.live-chat-container{
    width: 320px;
    max-width: 320px;
    height: 100vh;
    background-color: var(--black);
    border-left: 1px solid var(--borderColor);
    animation: slideIn 0.3s ease;
    display: flex;
    flex-direction: column;
    padding: 10px 10px;
    box-sizing: border-box;
    flex: 1 1 auto;
    overflow: hidden;
    position: relative;
}

.live-chat-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    width: 100%;
    background-color: var(--hover);
    border-bottom: 1px solid var(--borderColor);
    font-family: 'GB';
    color: var(--fontColor);
    padding: 10px 12px;
    box-sizing: border-box;
    border-radius: 10px;
    font-size: 0.8rem;
}

.live-chat-close-btn{
    height: 35px;
    width: 35px;
    border-radius: 40px;
    border: none;
    background-color: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
}

.live-chat-close-img{
    height: 15px;
}

.live-chat-comments-container{
    flex: 1 1 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 8px 0;
    overflow-y: auto;
    gap: 8px;
    position: relative;
    top: 0;
    bottom: 0;
    z-index: 1;
    overflow-x: hidden;
    scrollbar-color: var(--small) var(--chatBoxBg); /* thumb, track */
    scrollbar-width: thin;
    padding-right: 10px;
    margin-right: 2rem;
}

.live-chat-container .pinned-comment-container {
    left: 0;
    position: absolute;
    top: 69px;
    z-index: 2;
    width: 92%;
    margin: 10px;
    height: auto;
    border: 1px solid var(--borderColor);
    display: flex;
    align-items: center;
    padding: 4px;
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 5px 0px 15px var(--borderColor);
    background-color: var(--black);
    color: var(--fontColor);
}

.live-chat-comments-container > p {
    color: var(--fontColor);
}

.live-chat-comments-container .comment {
    display: flex;
    align-items: center;
    gap: 2px;
}

.live-chat-comments-container .comment:hover .lm-container .lm-btn{
    opacity: 1;
    pointer-events: auto;
    cursor: pointer;
}

.live-chat-comments-container .comment .comment-msg{
    color: var(--fontColor);
}

.comment-msg-input-container{
    display: flex;
    align-items: center;
    gap: 5px;
}

.comment-msg-input-container input {
    padding: 8px 14px;
    border-radius: 25px;
    border: 1px solid var(--small);
    background-color: var(--hover);
    color: var(--fontColor);
    font-family:
        'RR',
        'Emoji';
    height: 22px;
    font-size: 1rem;
    resize: none;
    flex: 1 1 auto;
}

.comment-msg-input-container button{
    height: 40px;
    width: 40px;
    border-radius: 25px;
    background-color: var(--borderColor);
    display: grid;
    place-items: center;
    color: var(--fontColor);
    border: none;
    cursor: pointer;
}

.comment-msg-input-container button svg path{
    fill: var(--fontColor);
}