.loading-screen{
    position: static;
    top: 0;
    left: 0;
    height: 100dvh;
    width: 100dvw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loading-screen .logo-container{
    height: 85%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loading-screen .logo-container img{
    height: 100px;
}

.loading-screen .name-container{
    height: 15%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loading-screen .name-container h1{
    color: var(--green);
    font-family: 'GB';
    font-size: 1rem;
}