.loading-messages-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

/* Base skeleton style */
.dp,
.msg-container {
  background: linear-gradient(
    90deg,
    #2a2d34 25%,
    #3a3f47 37%,
    #2a2d34 63%
  );
  background-size: 400% 100%;
  animation: shimmer 3.4s ease infinite;
  border-radius: 8px;
}

/* Avatar circle */
.dp {
  width: 36px;
  height: 36px;
  border-radius: 50%;
}

/* Message bubble */
.msg-container {
  height: 50px;
  width: 180px;
  border-radius: 12px;
}

/* Layout */
.my-loading-message,
.other-loading-message {
  display: flex;
  margin-bottom: 16px;
}

.my-loading-message{
    flex-direction: row-reverse;
}


.my-loading-message .dp{
    margin-left: 10px;
}

.other-loading-message .dp{
    margin-right: 10px;
}

.my-loading-message .msg-container {
  width: 140px;
}

.other-loading-message .msg-container {
  width: 200px;
}

.short{
    height: 70px;
}

.long{
    height: 130px;
}

/* Shimmer animation */
@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}