.mmsg-container{
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: var(--black);
    padding: 20px;
    box-sizing: border-box;
    z-index: 2;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.mmsg-close-btn-container{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: flex-end;
}

.mmsg-close-btn{
    border: none;
    background-color: rgba(255, 255, 255, 0);
    height: 40px;
    width: 40px;
    border-radius: 25px;
    display: grid;
    place-items: center;
}

.mmsg-close-img{
    height: 30px;
}

.mmsg-main-media-container{
    flex: 1;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mmsg-main-media{
    max-height: 450px;
    max-width: 100%;
    height: auto;
    width: auto;
}

.mmsg-preview-container{
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
}

.mmsg-preview{
    height: 70px;
    width: 70px;
    object-fit: cover;
}