.ncbs-container{
    display: flex;
    align-items: center;
    width: 100%;
    height: 70px;
    min-height: 70px;
    gap: 10px;
    border-radius: 5px;
    padding: 0px 5px;
    box-sizing: border-box;
    justify-content: space-between;
    cursor: pointer;
}

.ncbs-img-heading-container{
    display: flex;
    align-items: center;
    height: 100%;
    gap: 13px;
    box-sizing: border-box;
}

.ncbs-container:hover{
    background-color: var(--hover);
}

.ncbs-img-container{
    height: 55px;
    width: 55px;
    border-radius: 25px;
    overflow: hidden;
    display: grid;
    place-items: center;
}

.bg-hover{
    background-color: var(--hover);
}

.ncbs-img{
    height: 55px;
    border-radius: 100px;
}

.ncbs-heading-container{
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.ncbs-heading{
    margin: 0;
    color: var(--fontColor);
    font-size: 0.9rem;
}

.ncbs-sub-heading{
    margin: 0;
    color: var(--small);
    font-size: 0.75rem;
}

.ncbs-live-count-container{
    display: flex;
    align-items: center;
    gap: 2px;
    color: var(--fontColor);
}

.ncbs-live-count-container img{
    height: 20px;
}

@media (max-width: 900px) {
    .ncbs-container{
        height: 55px;
    }

    .ncbs-img-container{
        height: 35px;
        width: 35px;
    }

    .ncbs-img{
        height: 35px;
    }
}