.notification-container{
    display: flex;
    align-items: center;
    width: 100%;
    height: 70px;
    gap: 10px;
    border-radius: 5px;
    padding: 0px 5px;
    box-sizing: border-box;
    position: relative;
}

.notification-container:hover{
    background-color: var(--hover);
}

.notification-container:hover .delete-container{
    opacity: 1;
}

.notification-img{
    min-width: 52px;
    max-width: 52px;
    border-radius: 50px;
    overflow: hidden;
}

.notification-msg{
    font-size: 1rem;
    color: var(--fontColor);
    font-family: 'GR';
    text-overflow: ellipsis;
}

.notification-container .delete-container{
    width: 45px;
    height: 95%;
    position: absolute;
    border: 2px solid var(--borderColor);
    right: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: 0.3s all ease;
    background-color: var(--black);
}

.notification-container .delete-container .delete{
    width: 25px;
}

.notification-highlight{
    color: var(--green);
}

.notification-highlight-small{
    color: var(--small);
}

.bold{
    font-family: 'GB';
}
