.rm-container {
  position: relative;
  display: flex;
  align-items: center;
  height: fit-content;
}

.width-on-post{
  width: 100%;
}

.rm-btn-post{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  background-color: inherit;
  border: none;
  transition: opacity 0.2s ease;
  font-family: 'GM';
  color: var(--fontColor);
  font-size: 1rem;
}

.rm-btn {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: inherit;
  border: none;
  transition: opacity 0.2s ease;
  font-family: 'GM';
  opacity: 0;
  color: var(--fontColor);
}

.rm-container:hover .rm-btn {
  opacity: 1;
}

.rm-btn:hover {
  background-color: rgba(255, 255, 255, 0.15);
}

.rm-btn-img {
  height: 18px;
}

.my-reaction{
  font-family: 'Emoji';
}

.rm-menu-container {
  display: flex;
  gap: 0px;
  padding: 0px 10px;
  border-radius: 8px;
  background-color: var(--black);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
  border: 1px solid var(--small);
  animation: scaleIn 0.15s ease-out;
}

.rm-inner-btn {
  font-size: 20px; /* bigger emojis */
  background: none;
  border: none;
  cursor: pointer;
  font-family: 'Emoji';
  border-radius: 50%;
  line-height: 1;
  background-color: rgba(255, 255, 255, 0);
}



.rm-inner-btn:hover {
  transform: scale(1.2);
}

@keyframes scaleIn {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
