:root{
  --green: #1ff200;
  --tempBlack: #151517;
  --tempSmall: #878792;
  --chatBoxBg: #171718;
  --otherMsgBg: #28282f;
  --black: #111112;
  --hover: #2d2d32;
  --small: #878792;
  --borderColor: #3f3f3f;
  --fontColor: #c5cad3;
  --searchBoxBg: #56565e;
  --triadColor1: #F25C00;
  --triadColor2: #1300F2;
  --triadColor1Pastel: #9D5D34;
  --triadColor2Pastel: #3D349D;
}

@font-face {
  font-family: 'GR';
  src: url('../fonts/Gabarito-Regular.ttf');
}

@font-face {
  font-family: 'GM';
  src: url('../fonts/Gabarito-Medium.ttf');
}

@font-face {
  font-family: 'GB';
  src: url('../fonts/Gabarito-Bold.ttf');
}

@font-face {
  font-family: 'RR';
  src: url('../fonts/Roboto/Roboto-Regular.ttf');
}

@font-face {
  font-family: 'RM';
  src: url('../fonts/Roboto/Roboto-Medium.ttf');
}

@font-face {
  font-family: 'RB';
  src: url('../fonts/Roboto/Roboto-Bold.ttf');
}

@font-face {
  font-family: 'Emoji';
  src: url('../fonts/twemoji.ttf');
}

body {
  margin: 0;
  font-family: 'GM';
  letter-spacing: 0.05rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--black);
}

h1{
  margin: 0;
}

code {
  font-family: 'GM',
    monospace;
}

.spinner-container{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.spinner {
  border: 1px solid #00000000; /* light gray */
  border-top: 4px solid var(--fontColor); /* blue */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  margin: 20px 0;
}

.new-indicator{
    background-color: red;
    border-radius: 20px;
    height: 10px;
    position: absolute;
    right: -5px;
    top: -1px;
    width: 10px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

