.settings{
    display: flex;
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
}

.settings-container{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100dvh;
}

.settings-heading-container{
    display: flex;
    align-items: center;
    height: 80px;
    padding: 0 50px;
    background-color: var(--hover);
    width: 100%;
    border-bottom: 1px solid var(--small);
    box-sizing: border-box;
}

.settings-heading-container h1{
    font-size: 2rem;
    font-family: 'GB';
    color: var(--fontColor);
}

.settings-body-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--balck);
    flex-grow: 1;
}

.settings-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    width: 600px;
    height: 450px;
    padding: 0.8rem 1rem;
    border: 1px solid var(--borderColor);
    background-color: var(--chatBoxBg);
    border-radius: 8px;
}

.settings-body h1{
    color: var(--fontColor);
}

.settings-body .username{
    font-size: 1.3rem;
    color: var(--small);
    font-family: 'GR';
}

.heading-container{
    margin-bottom: 30px;
}

.info-edit-btn-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info-edit-btn-container .dp-container{
    height: 50px;
    width: 50px;
    border-radius: 30px;
    overflow: hidden;
    display: grid;
    place-items: center;
}

.info-edit-btn-container .dp-container img{
    height: 50px;
    width: 50px;
    display: grid;
    place-items: center;
}

.info-edit-btn-container .info-container{
    display: flex;
    flex-direction: column;
}

.info-edit-btn-container .info-container h1, .info-edit-btn-container .info-container p{
    font-size: 1.1rem;
    color: var(--fontColor);
}

.info-edit-btn-container .info-container p{
    font-size: 0.9rem;
    color: var(--fontColor);
}

.info-edit-btn-container .info-container p{
    color: var(--small);
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.info-edit-btn-container button {
    background-color: var(--black);
    border: 1px solid var(--green);
    border-radius: 22px;
    color: var(--fontColor);
    font-size: .9rem;
    font-family: 'GM';
    max-height: 31px;
    padding: 4px;
    transition: .2s ease;
    height: 60px;
    width: 110px;
    cursor: pointer;
}

.info-edit-btn-container button:hover {
    border-radius: 4px;
}

.info-edit-btn-container .delete-acc-btn{
    background-color: red;
    border: none;
    border-radius: 35px;
    color: #fff;
    display: grid;
    font-size: .9rem;
    padding: 6px;
    place-content: center;
    width: 130px;
    margin-top: 20px;
    cursor: pointer;
}

.about{
    align-items: flex-start;
}

.acc-info-heading{
    font-size: 1.7rem;

}